<template>
    <v-container fluid>
        <v-list
                subheader

        >
            <v-subheader>Account</v-subheader>
            <v-list-item   >
                <v-list-item-icon><v-icon large>mdi-account-circle-outline</v-icon></v-list-item-icon>
                <v-list-item-title class="title">{{profile.name}}</v-list-item-title>
                <v-list-item-subtitle >Name</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon @click="dialog=true"> <v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>
            <v-list-item >
                <v-list-item-icon><v-icon large>mdi-email-outline</v-icon></v-list-item-icon>
                <v-list-item-title class="title">{{profile.email}}</v-list-item-title>
                <v-list-item-subtitle>Email</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon @click="dialog=true"> <v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>
            <v-list-item>
                <v-list-item-icon><v-icon large>mdi-face-agent</v-icon></v-list-item-icon>
                <v-list-item-title class="title">{{profile.age}}yrs</v-list-item-title>
                <v-list-item-subtitle >Age</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon @click="dialog=true"> <v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>
            <v-list-item>
                <v-list-item-icon><v-icon large>mdi-human-male-height</v-icon></v-list-item-icon>
                <v-list-item-title class="title">{{profile.height}} cm</v-list-item-title>
                <v-list-item-subtitle >Height</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon @click="dialog=true"> <v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>
            <v-list-item>
                <v-list-item-icon><v-icon large>mdi-scale-bathroom</v-icon></v-list-item-icon>
                <v-list-item-title class="title">{{profile.weight}} Kg</v-list-item-title>
                <v-list-item-subtitle >Weight</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon @click="dialog=true"> <v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>
            <v-list-item>
                <v-list-item-icon><v-icon large>mdi-gender-male-female</v-icon></v-list-item-icon>
                <v-list-item-title class="title">{{profile.gender == "m"?'Male':'Female'}}</v-list-item-title>
                <v-list-item-subtitle >Gender</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon @click="dialog=true"><v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>

        </v-list>
        <br><br>
        <app-edit-user :profile="profile" :dialog="dialog"></app-edit-user>
    </v-container>
</template>

<script>
    import EditUser from "./EditUser";

    export default {
        name: "Account",
        components:{
            appEditUser:EditUser
        },
        data:()=>({
           profile:{},
           dialog:false
        }),
        methods:{
            fetchProfile(){
                let app = this;
                this.post(`auth/user`,{}).then(r=>{
                    app.profile = r;
                })
            }
        },
        created() {
            this.fetchProfile();
            this.$EventBus.$on('close-dialog',()=>{
                this.dialog = false;
            });
        }
    }
</script>

<style scoped>

</style>
