<template>
    <v-dialog max-width="600px" v-model="dialog">
        <v-card>
            <v-card-title>
                Edit profile
            </v-card-title>
            <v-card-text>
                <v-form>
                    <v-col cols="12">
                        <v-text-field
                            label="Name"
                            v-model="profile.name"
                            :rules="[v => !!v || 'This field is required']"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field
                            label="Email"
                            v-model="profile.email"
                            :rules="[v => !!v || 'This field is required']"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field
                            label="Age"
                            v-model="profile.age"
                            type="number"
                            :rules="[v => !!v || 'This field is required']"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field
                            label="Height"
                            v-model="profile.height"
                            type="number"
                            :rules="[v => !!v || 'This field is required']"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field
                            label="Weight"
                            v-model="profile.weight"
                            type="number"
                            :rules="[v => !!v || 'This field is required']"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-select
                            :items="genders"
                            label="Your gender"
                            outlined
                            v-model="profile.gender"
                        ></v-select>
                    </v-col>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn text color="red" @click="close()">Close</v-btn>
                <v-btn text color="green" @click="save()">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "EditUser",
        props:['profile','dialog'],
        data:()=>({
            valid:true,
            genders:[
                {text:"Male",value:'m'},
                {text:"Female",value:'f'},
            ],
        }),
        methods:{
            save(){
                let app = this;
                if(this.valid){
                    this.patch('auth/user',this.profile).then(r=>{
                        app.showAlert('Successfully updated profile!',false);
                        app.close();
                    })
                }

            },
            close(){
                this.$EventBus.$emit('close-dialog');
            }
        }
    }
</script>

<style scoped>

</style>
