<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <v-card flat>

                    <v-card-text>
                        <v-text-field
                            label="Search for a user"
                            v-model="name"

                        ></v-text-field>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col cols="12">
                <v-row>
                    <template v-for="user in users">
                        <v-col lg="4" sm="12" :key="user.id">
                            <v-card width="50vh">
                                <v-img
                                    height="200px"
                                    width="100%"
                                    src="https://img.favpng.com/7/5/8/computer-icons-font-awesome-user-font-png-favpng-YMnbqNubA7zBmfa13MK8WdWs8.jpg"
                                >
                                </v-img>
                                <v-card-title>
                                    {{user.name}}
                                </v-card-title>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn outlined rounded color="blue" :to='`/users/user/${user.id}`'>
                                        <v-icon>mdi-eye</v-icon>
                                        See profile
                                    </v-btn>
                                    <!--                            <v-btn outlined rounded color="purple">-->
                                    <!--                                <v-icon>mdi-plus</v-icon>-->
                                    <!--                                Remove -->
                                    <!--                            </v-btn>-->
                                    <!--                        <v-btn outlined rounded color="green"><v-icon>mdi-check</v-icon>Friends</v-btn>-->
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </template>
                </v-row>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Users",
        data:()=>({
            users:[],
            name:''
        }),
        methods:{
            findUsers(name){
                let app = this;
                this.get(`auth/users/search/${name}`).then(r=>{
                    app.users = r.users;
                })
            }
        },
        watch:{
            name(val){
                this.findUsers(val);
            }
        }
    }
</script>

<style scoped>

</style>
