<template>
    <v-container fluid>
        <v-row>
            <v-col lg="6" cols="12">
                <v-card width="50vh">
                    <v-img
                        height="200px"
                        width="100%"
                        src="https://img.favpng.com/7/5/8/computer-icons-font-awesome-user-font-png-favpng-YMnbqNubA7zBmfa13MK8WdWs8.jpg"
                    >
                    </v-img>
                    <v-card-title>
                        {{user.name}}
                    </v-card-title>
                    <v-card-subtitle>
                        Software Developer
                    </v-card-subtitle>
                    <v-card-text>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Amet aut deleniti enim fuga iusto magnam nobis officiis
                        placeat quae, quia quibusdam quis quod totam?
                        Illo iure magnam perferendis quo temporibus.
                    </v-card-text>
                    <v-card-actions>
                        <!--                        <v-btn outlined rounded color="blue" to="/friends/friend/1"><v-icon>mdi-eye</v-icon>See profile</v-btn>-->
                        <v-btn outlined rounded color="purple" @click="addAsFriend()">
                            <v-icon>mdi-plus</v-icon>
                            Add as friend
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
            <div v-if="user.is_friends">
                <v-col lg="6" cols="12">
                    <v-card width="100vh" outlined>
                        <app-progress></app-progress>
                        <v-card-actions>
                            <v-btn outlined rounded color="green">
                                <v-icon>mdi-arrow-down</v-icon>
                                Show more
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
                <v-col cols="12" lg="12" sm="12" md="12">
                    <app-diary :user_id="user_id"></app-diary>
                </v-col>
            </div>
            <div v-else>
                <v-card flat>
                    <v-card-title>
                        You need to be friends to see this profile
                    </v-card-title>
                </v-card>
            </div>
        </v-row>
    </v-container>
</template>

<script>
    import Progress from "../Progress/Progress";
    import Diary from "../Diary/Diary";

    export default {
        props:['user_id'],
        name: "User",
        components:{
            appProgress:Progress,
            appDiary:Diary
        },
        data:()=>({
            user:{},
        }),
        methods:{
            fetchUser(){
                let app = this;
                this.get(`auth/users/user/${this.user_id}`).then(r=>{
                    app.user = r.user[0];

                })
            },
            addAsFriend(){
                let app = this;
                this.post('auth/friends/add',{
                    friend_id:this.user_id
                }).then(r=>{
                    app.showAlert('Friend Request sent!',false);
                })
            }
        },
        created() {
            this.fetchUser();
        }
    }
</script>

<style scoped>

</style>
