<template>
    <v-dialog max-width="600px" v-model="dialog">
        <v-card>
            <v-card-title>
                Edit profile
            </v-card-title>
            <v-card-text>
                <v-form>
                    <v-col cols="12">
                        <v-text-field
                            label="Weight"
                            v-model="profile.weight"
                            type="number"
                            :rules="[v => !!v || 'This field is required']"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-select
                            :items="activities"
                            label="Your activity level"
                            outlined
                            v-model="profile.activity"
                        ></v-select>
                        <v-col cols="12">
                            <v-select
                                :items="goals"
                                label="Your goal is to "
                                outlined
                                v-model="profile.goal"
                            ></v-select>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field
                                type="number"
                                label="Your goal weight"
                                v-model="profile.goal_weight"
                            ></v-text-field>
                        </v-col>
                    </v-col>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn text color="red" @click="close()">Close</v-btn>
                <v-btn text color="green" @click="save()">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "EditGoals",
        props: ['profile', 'dialog'],
        data: () => ({
            valid: true,
            goals:[
                {text:"lose 0.5kg per week.",value:-500},
                {text:"lose 0.25kg per week.",value:-250},
                {text:"maintain my current weight.",value:0},
                {text:"gain 0.25kg per week.",value:250},
                {text:"gain 0.5kg per week.",value:500},
            ],
            activities:[
                {text:'Заседнал начин на живот (малко или никакви упражнения)',value:1.2},
                {text:'Ниско активен (леки упражнения/спорт  1-3 дни/сецмица) ',value:1.375},
                {text:'Средно Активен (Средни упражнения/спорт 3-5 дни/седмица) ',value:1.55},
                {text:'Много Активен (Трудни упражнениея/спорт 6-7 дни/седмица)',value:1.725},
                {text:'Екстремно активен (Много тежки упражнения/ Работа в склад/ Тренировки по 2 пъти на ден) ',value:1.9},
            ]
        }),
        methods: {
            save() {
                let app = this;
                if (this.valid) {
                    this.patch('auth/user', this.profile).then(r => {
                        app.showAlert('Successfully updated goals!', false);
                        app.close();
                    })
                }

            },
            close() {
                this.$EventBus.$emit('close-dialog');
            }
        }
    }
</script>

<style scoped>

</style>
