<template>
    <v-container fluid>
        <v-list
                subheader

        >
            <v-subheader>Goals</v-subheader>
            <v-list-item>
                <v-list-item-icon><v-icon large>mdi-scale-bathroom</v-icon></v-list-item-icon>
                <v-list-item-title class="title">{{profile.weight}} Kg</v-list-item-title>
                <v-list-item-subtitle >Weight</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon @click="dialog=true"><v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>
            <v-list-item>
                <v-list-item-icon><v-icon large>mdi-target</v-icon></v-list-item-icon>
                <v-list-item-title class="title">{{profile.goal_weight}} Kg</v-list-item-title>
                <v-list-item-subtitle> Target Weight</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon @click="dialog=true"><v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>
            <v-list-item>
                <v-list-item-icon><v-icon large>mdi-run-fast</v-icon></v-list-item-icon>
                <v-list-item-title class="title">{{activity}}</v-list-item-title>
                <v-list-item-subtitle >Activity</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon @click="dialog=true"><v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>
            <v-list-item>
                <v-list-item-icon><v-icon large>mdi-bullseye-arrow</v-icon></v-list-item-icon>
                <v-list-item-title class="title">{{goal}}</v-list-item-title>
                <v-list-item-subtitle >Goal</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon @click="dialog=true"><v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>
            <v-list-item>
                <v-list-item-icon><v-icon large>mdi-chart-pie</v-icon></v-list-item-icon>
                <v-list-item-title class="title">Calorie and macronutrients goal</v-list-item-title>
                <v-list-item-action>
                    <v-btn icon @click="dialog=true"><v-icon>mdi-arrow-down</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>
        </v-list>
        <br><br>
        <app-edit-goals :dialog="dialog" :profile="profile"></app-edit-goals>
    </v-container>
</template>

<script>
    import EditGoals from "./EditGoals";

    export default {
        name: "Goals",
        components:{
          appEditGoals:EditGoals
        },
        data:()=>({
            profile:{},
            dialog:false,
            goals:[
                {text:"lose 0.5kg per week.",value:-500},
                {text:"lose 0.25kg per week.",value:-250},
                {text:"maintain my current weight.",value:0},
                {text:"gain 0.25kg per week.",value:250},
                {text:"gain 0.5kg per week.",value:500},
            ],
            activities:[
                {text:'Заседнал начин на живот (малко или никакви упражнения)',value:1.2},
                {text:'Ниско активен (леки упражнения/спорт  1-3 дни/сецмица) ',value:1.375},
                {text:'Средно Активен (Средни упражнения/спорт 3-5 дни/седмица) ',value:1.55},
                {text:'Много Активен (Трудни упражнениея/спорт 6-7 дни/седмица)',value:1.725},
                {text:'Екстремно активен (Много тежки упражнения/ Работа в склад/ Тренировки по 2 пъти на ден) ',value:1.9},
            ]
        }),
        methods:{
            fetchProfile(){
                let app = this;
                this.post(`auth/user`,{}).then(r=>{
                    app.profile = r;
                })
            }
        },
        computed:{
            activity(){
                let index = 0;
                let app = this;
                this.activities.forEach((activity,i)=>{
                    if(activity.value==app.profile.activity){
                        index = i;
                    }
                })
                return this.activities[index].text;
            },
            goal(){
                let index = 0;
                let app = this;
                this.goals.forEach((goal,i)=>{
                    if(goal.value==app.profile.goal){
                        index= i;
                    }
                })
                return this.goals[index].text;
            }
        },
        created() {
          this.$EventBus.$on('close-dialog',()=>{
              this.dialog = false;
          })
        },
        mounted() {
            this.fetchProfile();
        },

    }
</script>

<style scoped>

</style>
