<template>
    <v-container fluid>

            <center>
            <v-col cols="12">
            <v-avatar
                size="200"

            >
                <v-img


                    src="images/logo/logo.png">

                </v-img>
            </v-avatar>
            </v-col>
            <v-col cols="12">
                <h1 class="subtitle">SmartTrainer 1.0</h1>
                <h1 class="title"><v-icon>mdi-email</v-icon> waikovixstudio@gmail.com</h1>
                <h5 class="gray--text"><v-icon>mdi-copyright</v-icon>Waiokvix Studio 2020</h5>
            </v-col>
            </center>



    </v-container>
</template>

<script>
    export default {
        name: "About"
    }
</script>

<style scoped>

</style>