<template>
    <v-container fluid>
        <v-list
            subheader
        >
            <v-subheader>General</v-subheader>
            <v-list-item  v-for = "(set,i) in settings" :key="i" @click="" :to=set.to>
                    <v-list-item-icon><v-icon large>{{set.icon}}</v-icon></v-list-item-icon>
                    <v-list-item-title class="title">{{set.title}}</v-list-item-title>
            </v-list-item>
            <v-list-item>
                <v-list-item-icon>
                    <v-icon large color="red">mdi-door-open</v-icon>
                </v-list-item-icon>
                <v-list-item-title class="title red--text" > Log out</v-list-item-title>
            </v-list-item>
        </v-list>
        <br><br>
    </v-container>
</template>

<script>
    export default {
        name: "General",
        data:()=>({
            settings:[
                {
                    icon:"mdi-account-circle-outline",
                    title:"Account",
                    to:'account'
               },
                {
                    icon:"mdi-bullseye",
                    title:"Goals",
                    to:'goals'
                },
                {
                    icon:"mdi-bell-outline",
                    title:"Notifications",
                    to:'notifications'
                },
                {
                    icon:"mdi-eye-check-outline",
                    title:"Privacy",
                    to:'privacy'
                },
                {
                    icon:"mdi-information-outline",
                    title:"About",
                    to:'about'
                },
            ]
        })
    }
</script>

<style scoped>

</style>