<template>
    <v-container fluid>
        <v-list
                subheader

        >
            <v-subheader>Notifications</v-subheader>
            <v-list-item   >
                <v-list-item-action>
                    <v-checkbox
                            :rules="[v => !!v || 'You must agree to continue!']"
                            required
                    ></v-checkbox>
                </v-list-item-action>
                <v-list-item-title class="title">Notifications</v-list-item-title>
                <v-list-item-subtitle >Enable or disable notifications</v-list-item-subtitle>

            </v-list-item>
            <v-list-item   >
                <v-list-item-icon><v-icon large>mdi-alarm</v-icon></v-list-item-icon>
                <v-list-item-title class="title">8:00</v-list-item-title>
                <v-list-item-subtitle >Breakfast</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon><v-icon color="red">mdi-delete</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>






        </v-list>
        <v-btn
                color="green"
                dark
                large
                fixed
                bottom
                right
                fab
        >
            <v-icon>mdi-plus</v-icon>
        </v-btn>
        <br><br>
    </v-container>
</template>

<script>
    export default {
        name: "Notifications"
    }
</script>

<style scoped>

</style>