<template>
    <v-container fluid>
            <v-card>
                <v-card-title>Privacy</v-card-title>
                <v-card-text>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi atque explicabo hic impedit iste laboriosam maiores, nihil perspiciatis quos unde veritatis voluptatem voluptatibus. Ad aperiam deleniti facere numquam obcaecati?
                </v-card-text>
            </v-card>
    </v-container>
</template>

<script>
    export default {
        name: "Privacy"
    }
</script>

<style scoped>

</style>