<template>
    <v-container fluid>
        <h1 class="title">Settings</h1>
        <router-view name="b"></router-view>
    </v-container>
</template>

<script>
    export default {
        name: "Settings",
        created() {
            this.stop_loading();
        }
    }
</script>

<style scoped>

</style>
