<template>
    <v-card outlined>
        <v-card-title class="text-center">Daily intake</v-card-title>
        <v-card-text>
            <v-row justify="center" align="center" no-gutters>
                <v-col cols="12">
                    <h1 class="title text-center black--text">{{macros.calories}} / {{macros.macros.calories}}</h1>
                </v-col>
                    <v-col cols="4" v-if="home">
                        <v-progress-circular
                            :value="(macros.protein /macros.macros.protein) * 100 "
                            color="green"
                            size="100"
                        >
                            Protein
                            <br>
                            {{macros.protein}}/{{macros.macros.protein}}
                        </v-progress-circular>
                    </v-col>
                    <v-col cols="4" v-if="home">
                        <v-progress-circular
                            :value="(macros.carbs / macros.macros.carbs)*100"
                            color="blue"
                            size="100"
                        >
                            Carbs
                            <br>
                            {{macros.carbs}}/{{macros.macros.carbs}}
                        </v-progress-circular>
                    </v-col>
                    <v-col cols="4" v-if="home">
                        <v-progress-circular
                            :value="(macros.fat / macros.macros.fat) * 100"
                            color="red"
                            size="100"
                        >
                            Fat
                            <br>
                            {{macros.fat}}/{{macros.macros.fat}}
                        </v-progress-circular>
                    </v-col>

            </v-row>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text color="primary" to="/diary" v-if="home">Go to diary</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: "CalorieAndMacroWidget",
        props: ['home'],
        data: () => ({
            macros: {},
            date: null
        }),
        methods: {
            fetchMacros() {
                let app = this;
                this.get(`auth/diary/date/${this.date}/nutrition`).then(r => {
                    app.macros = r;
                })
            }
        },
        created() {
            if (this.home) {
                this.date = this.convertDate(this.moment(), "YYYY-MM-DD");
            } else {
                this.date = this.$store.getters.getDate;
            }
            this.fetchMacros();
        },
        watch: {
            date(val) {
                this.fetchMacros();
            }
        }
    }
</script>

<style scoped>

</style>
