<template>
    <v-container>

        <h1 class="text-center">Login</h1>

                <v-text-field
                    type="email"
                    v-model="email"
                    label="Email"
                ></v-text-field>


                <v-text-field
                    type="password"
                    v-model="password"
                    label="Password"
                ></v-text-field>


                <v-btn block outlined color="green" @click="Login()">Login</v-btn>
                <br>
                 <v-btn block outlined color="primary" to="/register">Register</v-btn>



    </v-container>
</template>
<script>
export default {
    name:"Login",
    data:()=>({
        email:"",
        password:""
    }),
    methods:{
        Login(){
            this.start_loading();
            let app = this;
            this.post('/auth/login',{
                email:this.email,
                password:this.password
            }).then(resp=>{
                //app.$store.commit('setToken',resp.token);
                localStorage.setItem('access_token',resp.access_token);
                let now = new Date();
                let expDate = new Date(now.getTime() + resp.expires_in * 1000);
                localStorage.setItem('expires_in',expDate);
                this.$store.commit('setAuth');
                app.$EventBus.$emit('auth');
                   // app.redirect('/home');
                app.$router.push('/home');

            }).catch(err=>{
                app.showAlert('Invalid credentials',true);
            })
        },
    }

}
</script>
