<template>
    <v-container>
        <v-stepper v-model="e1">
    <v-stepper-header>
      <v-stepper-step :complete="e1 > 1" step="1" editable>Personal information</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="e1 > 2" step="2" editable>Getting some info about you</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="3" :complete="e1 > 3" editable>Calorie calculation</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="4">Finish</v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
        <v-stepper-content step="1">
        <v-text-field
            type="text"
            label="Name"
            v-model="name"
        ></v-text-field>
        <v-text-field
            type="email"
            label="Email"
            v-model="email"
        ></v-text-field>
        <v-text-field
            type="password"
            label="Password"
            v-model="password"
        ></v-text-field>

        <v-btn
          color="primary"
          @click="e1 = 2"
          outlined
        >
          Continue
        </v-btn>

        <v-btn text
            outlined
        >Cancel</v-btn>
      </v-stepper-content>
        <v-stepper-content step="2">
        <v-text-field
            type="number"
            label="Your Age"
            v-model="age"
        ></v-text-field>
        <v-text-field
            type="number"
            label="Your weight"
            step="any"
            v-model="weight"
        ></v-text-field>
        <v-text-field
            type="number"
            label="Your height in cm"
            v-model="height"
        ></v-text-field>
         <v-select
          :items="genders"
          label="Your gender"
          outlined
          v-model="gender"
        ></v-select>

        <v-btn
          color="primary"
          @click="e1 = 3"
          outlined
        >
          Continue
        </v-btn>

        <v-btn text
            outlined
        >Cancel</v-btn>
      </v-stepper-content>

        <v-stepper-content step="3">
             <v-select
          :items="activities"
          label="Your activity level"
          outlined
          v-model="activity"
        ></v-select>
             <v-select
          :items="goals"
          label="Your goal is to "
          outlined
          v-model="goal"
        ></v-select>
            <v-text-field
                    type="number"
                    label="Your goal weight"
                    v-model="goal_weight"
            ></v-text-field>
        <v-btn
          color="primary"
          @click="calculateMacros()"
          outlined
        >

          Continue
        </v-btn>

        <v-btn text
            outlined
        >Cancel</v-btn>
      </v-stepper-content>
        <v-stepper-content step="4">
            <v-card>
                <h1 class="title">Here is your calories and macronutrients. You can change them later</h1>
                   <v-list>
                       <v-list-item>
                           <v-list-item-title>Calories:{{macros.calories}}</v-list-item-title>
                       </v-list-item>
                       <v-list-item>
                           <v-list-item-title>Protein:{{macros.protein}}</v-list-item-title>
                       </v-list-item>
                       <v-list-item>
                           <v-list-item-title>Carbs:{{macros.carbs}}</v-list-item-title>
                       </v-list-item>
                       <v-list-item>
                           <v-list-item-title>Fat:{{macros.fat}}</v-list-item-title>
                       </v-list-item>
                   </v-list>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="green"
                        outlined
                        @click="Register()"
                    >Finish</v-btn>
                </v-card-actions>
            </v-card>
        </v-stepper-content>
    </v-stepper-items>
        </v-stepper>
    </v-container>
</template>

<script>
export default {
    name:"Register",
    data:()=>({
        e1:1,
        email:"",
        password:"",
        name:"",
        age:0,
        height:0,
        weight:0,
        gender:'',
        activity:0,
        goal_weight:0,
        goal:0,
        succ:false,
        error:false,
        macros:{},
        goals:[
            {text:"lose 0.5kg per week.",value:-500},
            {text:"lose 0.25kg per week.",value:-250},
            {text:"maintain my current weight.",value:0},
            {text:"gain 0.25kg per week.",value:250},
            {text:"gain 0.5kg per week.",value:500},
        ],
        genders:[
            {text:"Male",value:'m'},
            {text:"Female",value:'f'},
        ],
        activities:[
            {text:'Заседнал начин на живот (малко или никакви упражнения)',value:1.2},
            {text:'Ниско активен (леки упражнения/спорт  1-3 дни/сецмица) ',value:1.375},
            {text:'Средно Активен (Средни упражнения/спорт 3-5 дни/седмица) ',value:1.55},
            {text:'Много Активен (Трудни упражнениея/спорт 6-7 дни/седмица)',value:1.725},
            {text:'Екстремно активен (Много тежки упражнения/ Работа в склад/ Тренировки по 2 пъти на ден) ',value:1.9},
        ]
    }),
    methods: {
        Register() {
            let app = this;
            this.post('auth/register/', {
                name: this.name,
                email: this.email,
                password: this.password,
                age: this.age,
                weight: this.weight,
                height: this.height,
                gender: this.gender,
                activity: this.activity,
                goal_weight: this.goal_weight,
                goal: this.goal
            }).then(resp=>{
                app.$store.commit('setToken',resp.token);
                localStorage.setItem('access_token',resp.token);
               app.$router.push('/dashboad');
               app.succ = true;
            }).catch(err=>{
                app.err = true;
            });

        },
        calculateMacros(){
            let s = 5;
            if(this.gender =='f' )
                s=-151;

            let calories= ((((10*this.weight + 6.25 * this.height + 5.0 * this.age)) + s)*this.activity) + this.goal;
            let protein = Math.round((0.3* calories) /4);
            let fat = Math.round((0.2* calories) /9);
            let carbs = Math.round((0.5* calories) /4);
            this.e1=4;
            this.macros =  {calories, protein,fat,carbs}
        }
    },


}
</script>