<template>
    <v-dialog v-model="dialog" max-width="400px">
        <template v-slot:activator="{ on, attrs }">
            <v-btn
                color="green"
                dark
                large
                fixed
                bottom
                right
                fab
                @click="dialog = true"
            >
                <v-icon>mdi-plus</v-icon>
            </v-btn>
        </template>
        <v-card flat>
            <v-card-title>
                Add Workout
            </v-card-title>
            <v-card-text>
                <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                >
                    <v-col cols="12">
                        <v-text-field
                            type="text"
                            v-model="workout.name"
                            label="Name"
                            prepend-icon="mdi-text"
                            :rules="[v => !!v || 'This field is required']">

                        </v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-dialog
                            ref="dialog"
                            v-model="modal"
                            :return-value.sync="workout.date"
                            persistent
                            width="290px"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    v-model="workout.date"
                                    label="Workout date"
                                    prepend-icon="mdi-calendar"
                                    readonly
                                    v-bind="attrs"
                                    v-on="on"
                                    :rules="[v => !!v || 'This field is required']"
                                ></v-text-field>
                            </template>
                            <v-date-picker v-model="workout.date" scrollable>
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
                                <v-btn text color="primary" @click="$refs.dialog.save(workout.date)">OK</v-btn>
                            </v-date-picker>
                        </v-dialog>
                    </v-col>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn text color="red" @click="close()">Cancel</v-btn>
                <v-btn text color="green" @click="save()">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "AddWorkout",
        data: () => ({
            dialog: false,
            workout: {
                name: '',
                date: '',
                user_id: 0
            },
            modal: false,
            valid: true

        }),
        methods: {
            save() {
                let app = this;
                this.$refs.form.validate();
                if (this.valid) {
                    this.post(`auth/workouts/workout/create`,
                        this.workout).then(r => {
                        app.close();
                        app.showAlert('Successfully added workout', false);
                        app.$EventBus.$emit('add-workout', this.workout)
                    })
                }
            },
            close() {
                this.dialog = false;
            }
        }
    }
</script>

<style scoped>

</style>
