<template>
    <v-container>
        <v-row>
            <template v-for="workout in workouts">
                <v-col md="auto" :key="workout.id">
                    <v-card>
                        <v-card-title>{{workout.name}}</v-card-title>
                        <v-card-subtitle>{{workout.date}}</v-card-subtitle>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn rounden outlined color="green" :to="`/training/workout/`+workout.id">See Workout
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
            </template>
        </v-row>
        <app-add-workout></app-add-workout>
    </v-container>
</template>

<script>
    import AddWorkout from "./AddWorkout";

    export default {
        name: "Workouts",
        components: {
            appAddWorkout: AddWorkout
        },
        data: () => ({
            workouts: []
        }),

        methods: {
            fetchWorkouts() {
                let app = this;
                this.get(`auth/workouts/get`).then(r => {
                    app.workouts = r.workouts
                })
            }
        },
        created() {
            this.fetchWorkouts();
        }
    }
</script>

<style scoped>

</style>
