<template>
    <v-container fluid>
        <v-row>
            <template v-for="(exercises,i) in workout.exercises">
                <v-col cols="12" :key="i">
                    <v-card>
                        <v-card-title>Squat</v-card-title>
                        <v-divider></v-divider>
                        <v-card-text>
                            <v-list>
                                <template v-for="exercise in exercises">
                                    <v-list-item>
                                        <v-list-item-icon>
                                            <v-icon color="rgb(222, 166, 11)">mdi-trophy-variant-outline</v-icon>
                                        </v-list-item-icon>
                                        <v-spacer></v-spacer>
                                        <v-list-item-title>92.5 Kgs</v-list-item-title>
                                        <v-spacer></v-spacer>
                                        <v-list-item-title>5 reps</v-list-item-title>
                                    </v-list-item>
                                </template>
                            </v-list>
                        </v-card-text>
                    </v-card>
                </v-col>

            </template>
        </v-row>
        <v-btn
            color="green"
            dark
            large
            fixed
            bottom
            right
            fab
        >
            <v-icon>mdi-plus</v-icon>
        </v-btn>
    </v-container>
</template>

<script>
    export default {
        name: "Workout",
        props: ['workout_id'],
        data: () => ({
            workout: {}
        }),
        methods: {
            fetchWorkout() {
                let app = this;
                this.get(`auth/workouts/workout/${this.workout_id}/get`).then(r => {
                    app.workout = r.workout;
                })
            }
        },
        created() {
            this.fetchWorkout();
        }
    }
</script>

<style scoped>

</style>
