<template>
    <v-app id="inspire">
        <v-navigation-drawer
            v-model="drawer"
            :clipped="$vuetify.breakpoint.lgAndUp"
            app
            v-if="auth"
        >
            <v-list dense>
                <template v-for="item in items">

                    <v-list-item
                        :key="item.text"
                        link
                        :to="item.to"
                    >
                        <v-list-item-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{ item.text }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar
            :clipped-left="$vuetify.breakpoint.lgAndUp"
            app
            color="white"

        >
            <v-toolbar-title
                style="width: 300px"
                class="ml-0 pl-4"
            >
                <v-app-bar-nav-icon @click.stop="drawer = !drawer" v-if="auth"/>
                <span>SmartTrainer</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-badge
                content="1"

                color="green"
                left
                overlap
                v-if="auth"
            >
                <v-icon>mdi-bell-outline</v-icon>
            </v-badge>
        </v-app-bar>
        <v-content>


            <template v-for="(alert,i) in alerts">
                <v-alert :key="i" :type="alert.error?'error':'success'">{{alert.text}}</v-alert>
            </template>
            <router-view></router-view>

            <v-overlay v-model="loading">
                <v-progress-circular indeterminate size="64"></v-progress-circular>
            </v-overlay>
        </v-content>

        <v-bottom-navigation
            class="hidden-md-and-up"
            v-model="bottomNav"
            v-if="auth"
        >
            <v-btn value="training" to="/training">
                <span>Training</span>
                <v-icon>mdi-dumbbell</v-icon>
            </v-btn>

            <v-btn value="diary" to="/diary">
                <span>Diary</span>
                <v-icon>mdi-notebook-multiple</v-icon>
            </v-btn>

            <v-btn value="progress" to="/progress">
                <span>Progress</span>
                <v-icon>mdi-scale-bathroom</v-icon>
            </v-btn>
        </v-bottom-navigation>
        <v-snackbar
            v-model="popup.snackbar"
            top
        >
            {{ popup.text }}
            <v-btn
                color="pink"
                text
                @click="snackbar = false"
            >
                Close
            </v-btn>
        </v-snackbar>
    </v-app>
</template>

<script>
    export default {
        name: "App",
        data: () => ({
            dialog: false,
            drawer: null,
            auth: false,
            alerts: [],
            popup: {
                snackbar: false,
                text: ""
            },
            loading: false,
            bottomNav: 'diary',
            notif: 1,
            items: [
                {icon: 'mdi-home', text: 'Home', to: "/home"},
                {icon: 'mdi-notebook-multiple', text: 'Diary', to: "/diary"},
                {icon: 'mdi-dumbbell', text: 'Training', to: "/training"},
                {icon: 'mdi-scale-bathroom', text: 'Progress', to: "/progress"},
                {icon: 'mdi-account-multiple', text: 'Friends', to: "/friends"},
                {icon: 'mdi-post', text: 'Blog', to: "/blog"},
                {icon: 'mdi-settings-outline', text: 'Settings', to: "/settings/"},

            ],
        }),
        created() {

            this.autoLogin();
            window.Echo.channel('notifications')
                .listen('Reminder', (e) => {
                    console.log('notif');
                    this.push_notification('','Push notification')
                });
            //his.start_loading();
            this.auth = this.$store.getters.getAuth;
            this.$EventBus.$on('popup', al => {
                this.popup = al;
            })
            this.$EventBus.$on('auth', () => {
                this.auth = true;
            })
            this.$EventBus.$on('alert', alert => {
                this.alerts.unshift(alert)

                setTimeout(()=>{
                    let index = this.alerts.indexOf(alert);
                    this.alerts.splice(index,1)
                },3500);
            })
            this.$EventBus.$on('loading', ()=>{
               this.loading = true;
            })
            this.$EventBus.$on('stop-loading', ()=>{
               this.loading = false;
            })
            let date = new Date().toISOString().substr(0, 10);
            this.$store.commit('setDate', date)




        },
        // watch:{
        //     $route (to, from){
        //         this.start_loading();
        //     }
        // }
    }
</script>
<style scoped>
    .v-bottom-navigation {
        bottom: 0;
        position: fixed;
    }
</style>
