<template>
    <v-container fluid>
        <h1 class="title">Blog</h1>
        <v-row>
            <template v-for="post in posts" >
            <v-col lg="4" sm="12" :key="post.id">
                <v-card
                width="50vh"
                >

                        <v-img
                                height="200px"
                                width="100%"
                                :src="`/`+post.image"
                        >

                            <v-chip
                                    class=" float-right black--text"
                                   color="white"
                                    dark
                            >
                                <v-icon left>mdi-server-plus</v-icon>
                                {{post.category.title}}
                            </v-chip>
                        </v-img>
                    <v-btn
                    fab
                    class="float-right"
                    color="white"
                    small
                    :to="`/blog/post/${post.id}`"
                    >
                        <v-icon>
                            mdi-arrow-right
                        </v-icon>
                    </v-btn>
                    <v-card-title>{{post.title}}</v-card-title>
                    <v-card-text>
                        {{post.content.substr(3,20)}}...
                    </v-card-text>
                </v-card>
            </v-col>
            </template>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Blog",
        data:()=>({
            posts:[]
        }),
        methods:{
            fetchPosts(){
                let app = this;
                this.get('auth/posts').then(r=>{
                    app.posts = r.posts.data;
                })
            }
        },
        created() {
            this.fetchPosts();
        }
    }
</script>

<style scoped>

</style>
