<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12">
                <v-card >
                    <v-img

                            height="45vh"
                            class="white--text align-center"
                         :src="`/`+p.image"
                    >


                        <v-overlay
                                :absolute="true"
                                :value="true"
                        >

                            <v-card-title class="text-center ">{{p.title}}</v-card-title>
                            <v-card-subtitle class="text-center white--text">By {{p.user.name}}-{{this.convertDate(p.created_at,"DD.MM.YYYY")}}</v-card-subtitle>
                            <br><br>
                            <v-chip
                                    class=" black--text text-center mr-auto"
                                    color="white"
                                    dark
                            >
                                <v-icon left>mdi-server-plus</v-icon>
                                {{p.category.title}}
                            </v-chip>
                        </v-overlay>
                    </v-img>
                </v-card>
            </v-col>
            <v-col cols="12">
                <v-card class="text-center">

                    <v-card-text class=" text--primary" v-html="p.content">

                    </v-card-text>
                </v-card>

            </v-col>
        </v-row>
        <br><br>
    </v-container>
</template>

<script>
    export default {
        name: "Post",
        props:['post_id'],
        data:()=>({
            p:{}
        }),
        methods:{
            fetchPost(){
                let app = this;
                this.get(`auth/posts/post/${this.post_id}`).then(r=>{
                    app.p = r.post[0];
                })
            }
        },
        mounted() {
            this.fetchPost();
        }
    }
</script>

<style scoped>

</style>
