<template>
    <v-container>
        <h1 class="text-center">Diary</h1>
        <div>

            <v-dialog
                ref="dialog"
                v-model="modal"
                :return-value.sync="date"
                persistent
                width="290px"
            >
                <template v-slot:activator="{ on }">
                    <v-text-field
                        v-model="date"
                        label="Date"
                        prepend-icon="mdi-event"
                        readonly
                        v-on="on"
                    ></v-text-field>
                </template>
                <v-date-picker v-model="date" scrollable @change="fetchDiary()">
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
                    <v-btn text color="primary" @click="$refs.dialog.save(date)">OK</v-btn>
                </v-date-picker>
            </v-dialog>

        </div>
        <br>
        <!-- <div>
            <v-card outlined>
                    <v-card-title class="text-center">1113/2500</v-card-title>
            </v-card>
        </div>
        <br> -->
        <div>
            <app-calorie-and-macro-widget :home="false"></app-calorie-and-macro-widget>
        </div>
        <br>
        <div>
            <v-card outlined>
                <v-card-title class="text-center">
                    Breakfast
                    <v-spacer></v-spacer>
                    {{Math.round(sumbr)}}
                </v-card-title>
                <v-divider></v-divider>
                <v-list>
                    <app-meal-items :data="breakfast"></app-meal-items>
                </v-list>
                <v-divider></v-divider>
                <v-card-actions v-if="!other">
                    <v-spacer></v-spacer>
                    <v-btn text color="green" @click="setMeal(1)">Add to Breakfast
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </div>
        <br>
        <div>
            <v-card outlined>
                <v-card-title class="text-center">
                    Lunch
                    <v-spacer></v-spacer>
                    {{Math.round(sumln)}}
                </v-card-title>
                <v-divider></v-divider>
                <v-list>
                    <app-meal-items :data="lunch"></app-meal-items>
                </v-list>
                <v-divider></v-divider>
                <v-card-actions v-if="!other">
                    <v-spacer></v-spacer>
                    <v-btn text color="green" @click="setMeal(2)">Add to Lunch
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </div>
        <br>
        <div>
            <v-card outlined>
                <v-card-title class="text-center">
                    Dinner
                    <v-spacer></v-spacer>
                    {{Math.round(sumdi)}}
                </v-card-title>
                <v-divider></v-divider>
                <v-list>
                    <app-meal-items :data="dinner"></app-meal-items>
                </v-list>
                <v-divider></v-divider>
                <v-card-actions v-if="!other">
                    <v-spacer></v-spacer>
                    <v-btn text color="green" @click="setMeal(3)">Add to Dinner
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </div>
        <br>
        <div>
            <v-btn outlined color="blue">Nutrition
                <v-icon>mdi-view-dashboard-outline</v-icon>
            </v-btn>
        </div>
        <br><br>


    </v-container>
</template>
<script>
    import Meal from "./Meal";
    import CalorieAndMacroWidget from "../Widgets/CalorieAndMacroWidget";

    export default {
        name: "Diary",
        props: ['user_id'],
        components: {
            appMealItems: Meal,
            appCalorieAndMacroWidget:CalorieAndMacroWidget
        },
        data: () => ({
            modal: false,
            date: null,
            menu: false,
            breakfast: [],
            lunch: [],
            dinner: [],
            sumbr: 0,
            sumln: 0,
            sumdi: 0,
            other: false,
        }),
        methods: {

            fetchDiary() {
                this.start_loading();
                let app = this;
                let url = this.user_id != null ? `auth/diary/date/${this.date}/user/${this.user_id}` : `auth/diary/date/${this.date}/user`
                this.get(url).then(r => {
                    app.breakfast = r.breakfast;
                    app.lunch = r.lunch;
                    app.dinner = r.dinner;
                    app.sumbr = r.sumbr;
                    app.sumln = r.sumlu;
                    app.sumdi = r.sumdi;
                    if (this.user_id != null) {
                        app.other = true;
                    } else {
                        app.other = false;
                    }
                }).catch(err=>{
                    app.showAlert('Something went wrong. Please try again later!',true)
                })
            },

            setMeal(mealType) {
                this.$store.commit('setMealType', mealType);
                this.$store.commit('setDate', this.date);
                this.$router.push('/food/search');
            },


        },
        created() {
            this.date = this.$store.getters.getDate;
            let app = this;
            this.fetchDiary();

            //this.$store.commit('setDate', this.date);

        },

    }
</script>
<style scoped>

</style>
