<template>
<div>
        <v-list-item two-line
                     v-for="d in data"
                     :key="d.id"
                     @click="updateMeal(d.id)"
                     :to="`/diary/meal/`+d.id"
        >
            <v-list-item-content>
                <v-list-item-title>
                    {{d.food.name}}
                </v-list-item-title>
                <v-list-item-subtitle>{{d.food.brand}} , {{d.amount}}gr</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
                <v-list-item-subtitle>{{Math.round((d.food.calories/100)*d.amount)}}</v-list-item-subtitle>
            </v-list-item-action>
        </v-list-item>
</div>
</template>

<script>
    export default {
        name: "Meal",
        props:['data'],
        methods:{
            deleteMeal(meal_id){

            },
            updateMeal($meal_id){

            }
        }
    }
</script>

<style scoped>

</style>
