<template>
<v-container>
    <h1 class="title">{{!isNaN(meal_id)?'Update Meal':'Add to Meal'}}</h1>


        <v-text-field
            type="text"
            v-model="food.name"
            label="Name"
            :disabled="!add"
        ></v-text-field>

        <v-text-field
            type="number"
            step="any"
            v-model="food.protein"
            label="Protein"
            :disabled="!add"
        ></v-text-field>

        <v-text-field
            type="number"
            step="any"
            v-model="food.carbs"
            label="Carbs"
            :disabled="!add"
        ></v-text-field>

        <v-text-field
            type="number"
            step="any"
            v-model="food.fat"
            label="Fat"
            :disabled="!add"
        ></v-text-field>

        <v-text-field
            type="number"
            step="any"
            v-model="food.calories"
            label="Calories"
            :disabled="!add"
        ></v-text-field>
    <v-text-field
            type="number"
            step="any"
            v-model="amount"
            label="Amount"
            v-if="!add"
        ></v-text-field>

        <v-btn  outlined color="green" @click="saveFood()" >Add Food</v-btn>
        <v-btn  outlined color="red" @click="deleteMeal()" v-if="!isNaN(meal_id)" >Delete meal</v-btn>

</v-container>
</template>

<script>
    export default {
        props:['id','meal_id'],
        data:()=>({
            food:{
                name:"",
                protein:"",
                carbs:"",
                fat:"",
                calories:"",
                brand:"generic",

            },
            amount:1,
            add:true,
            update:false,
            newf:{
                protein:"",
                carbs:"",
                fat:"",
                calories:"",
            }
        }),

        methods:{
            saveFood(){
                let app = this;
                if(!isNaN(this.meal_id)){
                    this.patch(`auth/meal/${this.meal_id}/update`,{
                        amount:this.amount
                    }).then(()=>{
                        app.emitPopup("Successfully updated meal");
                        app.$router.push('/diary');
                    })
                    return;
                }
                if(this.add){
                    this.post('auth/foods/food/add',this.food).then(r=>{
                        app.emitPopup("Successfully created food");
                        app.$router.push('/food/search')

                    }).catch(err=>{
                        console.log(err);
                    });
                }else{
                    this.post('auth/diary/meal/add',{
                        food_id:this.id,
                        amount:this.amount,
                        meal_type:this.$store.getters.getMealType,
                        date:this.$store.getters.getDate
                    }).then(r=>{
                        app.emitPopup("Successfully added food to diary");
                        app.$router.push('/diary')

                    }).catch(err=>{
                        console.log(err);
                    });
                }

            },
            changeMacros(){
                this.food.calories = this.newf.calories * this.amount;
                this.food.protein =this.newf.protein * this.amount;
                this.food.carbs =this.newf.carbs * this.amount;
                this.food.fat =this.newf.fat * this.amount;
            },
            createMacros(r){

                let calories = r.food.calories/100;
                let protein = r.food.protein/100;
                let carbs = r.food.carbs/100;
                let fat = r.food.fat/100;

                this.food = r.food;
                this.food.calories =calories;
                this.food.protein =protein;
                this.food.carbs =carbs;
                this.food.fat =fat;

                this.newf.calories = calories;
                this.newf.protein = protein;
                this.newf.carbs = carbs;
                this.newf.fat = fat;
            },
            fetchFood(){
                let app = this;
                this.add = false;
                this.get(`auth/foods/food/${this.id}`).then(r=>{
                  app.createMacros(r);
                });
            },
            fetchMeal(){
                let app = this;
                this.add = false;
                this.get(`auth/meal/${this.meal_id}`).then(r=>{
                    console.log(r.meal[0]);
                    app.createMacros(r.meal[0]);
                    app.amount = r.meal[0].amount;

                })

            },
            deleteMeal(){
                let app = this;
                this.delete(`auth/meal/${this.meal_id}/delete`).then(()=>{
                    app.emitPopup("Successfully removed meal");
                    app.$router.push('/diary')
                })

            }

        },
        created() {
            if(!isNaN(this.id)){
                this.fetchFood();
            }
            if(!isNaN(this.meal_id)){
                this.fetchMeal();
            }
        },
        watch:{
          amount(val){
            this.changeMacros();
          }
        }
    }
</script>

<style scoped>

</style>
