<template>
    <v-container fluid>
        <h1 class="title">Search for foods</h1>
        <v-row>
            <v-col cols="12">
                <v-text-field
                    v-model="search"
                    label="Search for foods"
                    prepend-icon="mdi-search"
                    @keydown="searchFoods"
                ></v-text-field>
            </v-col>
            <v-col >
                <h3>Search results</h3>
                <v-list>
                    <template v-for="food in foods">
                        <v-list-item two-line :key="food.id" :to='`/food/${food.id}`'>
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{food.name}}
                                </v-list-item-title>
                                <v-list-item-subtitle>
                                    {{food.brand}}
                                </v-list-item-subtitle>
                            </v-list-item-content>
                            <v-list-item-action>
                                {{food.calories}}
                            </v-list-item-action>
                        </v-list-item>

                    </template>
                    <v-list-item>
                        <v-btn block color="green" to="/food/add" dark outlined>Add food</v-btn>
                    </v-list-item>
                </v-list>

            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Search",
        data:()=>({
            search:"",
            foods:[]
        }),
        methods:{
            searchFoods(){
                let app = this;

                    this.get(`auth/foods/search/${this.search}`).then(r=>{
                        app.foods = r.foods;
                    })


            }
        }
    }
</script>

<style scoped>

</style>
