<template>
    <v-dialog v-model="show" max-width="50vh">
        <v-card>
            <v-card-title>
                Add Progress
            </v-card-title>
            <v-card-text>
                <v-row>
                    <v-col cols="12">
                        <v-text-field
                            type="number"
                            step="any"
                            label="KG"
                            prepend-icon="mdi-scale-bathroom"
                            v-model="progress.kg"
                        >
                        </v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-menu
                            ref="menu"
                            v-model="menu"
                            :close-on-content-click="false"
                            :return-value.sync="progress.date"
                            transition="scale-transition"
                            offset-y
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    v-model="progress.date"
                                    label="Select date"
                                    prepend-icon="mdi-calendar"
                                    readonly
                                    v-bind="attrs"
                                    v-on="on"
                                ></v-text-field>
                            </template>
                            <v-date-picker v-model="progress.date" no-title scrollable>
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                                <v-btn text color="primary" @click="$refs.menu.save(progress.date)">OK</v-btn>
                            </v-date-picker>
                        </v-menu>
                    </v-col>
                </v-row>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" text @click="close(false)">Close</v-btn>
                <v-btn color="green" text @click="save()">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "AddProgress",
        props: ['show', 'progress', 'edit'],
        data: () => ({
            menu: false
        }),
        methods: {
            save() {
                let app = this;
                if (this.edit) {
                    this.patch(`auth/progress/${this.progress.id}/update`, {
                        kg: this.progress.kg,
                        date: this.progress.date
                    }).then(r => {
                        app.close(false);
                    })
                } else {
                    this.post('auth/progress/add', {
                        kg: this.progress.kg,
                        date: this.progress.date
                    }).then(r => {
                        app.progress.id = r.id;
                        app.close(true);
                    })
                }

            },

            close(add) {
                if (!add && !this.edit) {
                    this.progress.kg = 0;
                }
                this.$EventBus.$emit('close-dialog');
            }
        }
    }
</script>

<style scoped>

</style>
