<template>
    <v-container fluid>
        <h1 class="title">Progress</h1>
        <v-row>
            <v-col cols="12">
                <v-card color="green" >

                    <v-sparkline
                        v-if="value.length != 0"
                            :value="value"
                            color="rgba(255, 255, 255, .7)"
                            stroke-linecap="round"
                            auto-line-width
                            show-labels
                            line-width="3"
                            auto-draw
                            label-size="5"
                            height="100%"

                    >
                        <template v-slot:label="item">
                            {{ item.value }}Kg
                        </template>
                    </v-sparkline>

                </v-card>
            </v-col>
            <v-col>

                <v-list>
                    <v-list-item>
                        <v-btn
                                color="purple"
                                dark
                                outlined
                                rounded
                                @click="addKg()"

                        >
                            <v-icon>mdi-plus</v-icon>
                            Add
                        </v-btn>
                    </v-list-item>
                    <v-list-item v-for="kg in kgs" :key="kg.id">
                        <v-list-item-icon><v-icon>mdi-scale-bathroom</v-icon></v-list-item-icon>
                        <v-list-item-title>{{kg.kg}}Kg</v-list-item-title>
                        <v-list-item-subtitle>{{kg.date}}</v-list-item-subtitle>
                        <v-list-item-action>
                            <v-btn icon><v-icon color="green" @click="updateKg(kg)">mdi-pencil-outline</v-icon></v-btn>

                        </v-list-item-action>
                        <v-list-item-action>
                            <v-btn icon><v-icon color="red" @click="deleteKg(kg)">mdi-delete-outline</v-icon></v-btn>
                        </v-list-item-action>
                    </v-list-item>

                </v-list>
            </v-col>
        </v-row>
        <app-add-progress :show="show" :progress="progress" :edit="edit"></app-add-progress>
    </v-container>
</template>

<script>
    import AddProgress from "./AddProgress";
    export default {
        name: "Progress",
        components:{
          appAddProgress:AddProgress
        },
        data:()=>({
            // value: [73.6, 73.2, 73, 75, 74, 73.6, 72.8, 73.5, 74, 73.3, 73.9, 74, 74.5, 77.5, 75],
            show:false,
            value: [],

            progress:{
                kg:0,
                date:0,
                id:0
            },
            edit:false,
            old_ind:0,
            kgs:[]
        }),
        methods:{
            addKg(){
              this.progress.kg = 0;
              this.date = 0;
              this.id = 0;
              this.show = true;
              this.edit = false;
            },
            fetchProgress(){
                this.start_loading();
                let app = this;
                this.get(`auth/progress/get/user`).then(r=>{
                    app.kgs = r.progress.data;
                    app.drawStatistics();
                })
            },
            drawStatistics(){
                let app = this;
                this.kgs.forEach(kg=>{
                    app.value.unshift(parseFloat(kg.kg));
                })
            },
            updateKg(kg){
              this.progress = kg;
              this.old_ind = this.value.indexOf(kg.kg);
              this.show=true;
              this.edit = true;
            },
            deleteKg(kg){
                let app = this;
                this.delete(`auth/progress/${kg.id}/delete`).then(r=>{
                    let index = app.kgs.indexOf(kg);
                    let kgindex = app.value.indexOf(kg.kg);
                    app.kgs.splice(index,1);
                    app.value.splice(kgindex,1);
                })
            }
        },
        created() {
            let app = this;
            this.fetchProgress();
            this.progress.date = this.convertDate(new Date(),"YYYY-MM-DD");

            this.$EventBus.$on('close-dialog',()=>{
                if(this.progress.kg != 0 ){
                    if(!this.edit){
                        this.kgs.unshift(app.progress);
                        this.value.push(parseFloat(this.progress.kg));
                    }else{
                        // this.value.splice(this.old_ind,1);
                        this.value[this.old_ind] = parseFloat(this.progress.kg);

                        let newval = this.value;
                        this.value = [];
                        setTimeout(()=>{
                            this.value = newval;
                        },500);
                        //
                    }
                    this.show = false;
                    this.edit = false;
                }
            })
        }
    }
</script>

<style scoped>

</style>
