<template>
    <v-container fluid>
        <h1 class="title">Friends
            <v-btn icon to="users" color="gray">
                <v-icon>mdi-plus</v-icon>
            </v-btn>
        </h1>
        <v-row>
            <v-tabs
                background-color="white"
                color="deep-purple accent-4"
                left
            >
                <v-tab>Friends</v-tab>
                <v-tab>Request {{requests > 0?`(${requests})`:''}}</v-tab>

                <v-tab-item

                >
                    <template v-for="friend in friends">
                        <v-col lg="4" sm="12" :key="friend.id">
                            <v-card width="50vh">
                                <v-img
                                    height="200px"
                                    width="100%"
                                    src="https://img.favpng.com/7/5/8/computer-icons-font-awesome-user-font-png-favpng-YMnbqNubA7zBmfa13MK8WdWs8.jpg"
                                >
                                </v-img>
                                <v-card-title>
                                    {{friend.friend.name}}
                                </v-card-title>
                                <v-card-subtitle>
                                    {{friend.description}}
                                </v-card-subtitle>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn outlined rounded color="blue" :to='`/users/user/${friend.friend.id}`'>
                                        <v-icon>mdi-eye</v-icon>
                                        See profile
                                    </v-btn>
                                    <!--                            <v-btn outlined rounded color="purple">-->
                                    <!--                                <v-icon>mdi-plus</v-icon>-->
                                    <!--                                Remove -->
                                    <!--                            </v-btn>-->
                                    <!--                        <v-btn outlined rounded color="green"><v-icon>mdi-check</v-icon>Friends</v-btn>-->
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </template>
                </v-tab-item>
                <v-tab-item
                >
                    <app-requests></app-requests>
                </v-tab-item>
            </v-tabs>
        </v-row>
    </v-container>
</template>

<script>
    import Requests from "./Requests";

    export default {
        name: "Friends",
        components:{
            appRequests:Requests
        },
        data: () => ({
            friends: [],
            requests:0
        }),
        methods: {
            fetchFriends() {
                let app = this;
                this.get('auth/friends').then(r => {
                    app.friends = r.friends;
                    app.requests = r.requests
                })
            }
        },
        created() {
            this.fetchFriends();
        }
    }
</script>

<style scoped>

</style>
