<template>
    <v-container>
        <v-row>
            <template v-for="request in requests">
                <v-col cols="12" :key="request.id">
                    <v-card width="100vh">
                        <v-card-title>
                            {{request.user.name}}
                            <v-spacer></v-spacer>
                            <v-btn icon color="green" @click="accept(request)"><v-icon>mdi-check</v-icon></v-btn>
                            <v-btn icon color="red" @click="decline(request)"><v-icon>mdi-delete</v-icon></v-btn>
                        </v-card-title>
                    </v-card>
                </v-col>
            </template>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Requests",
        data: () => ({
            requests: []
        }),
        methods: {
            fetchRequests() {
                let app = this;
                this.get('/auth/friends/requests').then(r => {
                    app.requests = r.requests;
                })
            },
            accept(request) {
                let app = this;
                this.patch(`auth/friends/requests/request/${request.id}/accept`,
                    {}).then(r => {
                        app.requests.splice(app.requests.indexOf(request))
                    app.showAlert('Request accepted!',false);
                })
            },
            decline(request){
                let app = this;
                this.delete(`auth/friends/requests/request/${request.id}/decline`).then(r=>{
                    app.requests.splice(app.requests.indexOf(request))
                    app.showAlert('Request declined!',false);
                })
            }
        },
        created() {
            this.fetchRequests();
        }
    }
</script>

<style scoped>

</style>
